<section
  class="h-screen w-full flex flex-col justify-center md:items-center gap-3"
>
  <h2 class="text-3xl dark:text-amber-300 text-amber-600 font-semibold">
    Reach out
  </h2>
  <p class="dark:text-zinc-300 text-zinc-600 max-w-[65ch] md:text-center">
    I'm currently looking for new job opportunities. If you are interested
    and/or would like to get to know more about me feel free to contact me and
    I'll do my best to get back to you.
  </p>
  <a href="mailto:me@rjvieira.com">
    <button
      class="dark:bg-amber-400 bg-amber-600 px-8 md:px-12 py-2 md:py-3 rounded-md dark:text-zinc-900 text-white font-semibold mt-3 dark:hover:bg-amber-300 hover:bg-amber-500"
      >Contact me</button
    >
  </a>
</section>
