<section
  class="h-screen w-full flex flex-col justify-center px-3 sm:px-14 gap-3"
>
  <h1 class="text-4xl sm:text-5xl font-bold text-zinc-900 dark:text-zinc-50">
    Hi, I'm <span class="dark:text-amber-300 text-amber-600">Ricardo</span>!
  </h1>
  <p class="text-lg sm:text-xl font-normal dark:text-zinc-300 text-zinc-600">
    A software developer dedicated to building user friendly web and mobile
    apps. Currently I'm looking for new opportunities to grow as a developer.
  </p>
</section>
