* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  white-space: wrap;
  color: var(--text);
  background: var(--bg);
  display: grid;
  place-items: center;
  font-size: 3.5rem;
  margin: 0 80px;
}
