---
const today = new Date();
---

<footer
  class="text-xs fixed bottom-0 left-0 w-full px-10 py-4 flex justify-end items-center gap-3 dark:bg-zinc-900 bg-zinc-200"
>
  <span class="w-12 h-[2px] dark:bg-zinc-700 bg-zinc-500"></span>
  <span class="dark:text-zinc-400 text-zinc-500">
    &copy; {today.getFullYear()} | Ricardo Vieira
  </span>
  <span class="w-12 h-[2px] dark:bg-zinc-700 bg-zinc-500"></span>
</footer>
