---
import BaseHead from "./BaseHead.astro";
import Footer from "./Footer.astro";
import Header from "./Header.astro";
import LeftSidebar from "./LeftSidebar.astro";
import Links from "./Links.astro";
const { title, description } = Astro.props;
---

<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <BaseHead title={title as string} description={description} />
  </head>
  <body
    class="dark:bg-zinc-900 bg-zinc-200 h-full w-full m-auto flex flex-col overflow-auto"
  >
    <Header />
    <LeftSidebar />
    <h1>{title}</h1>
    <main class="flex-1">
      <slot />
    </main>
    <Footer />
    <Links />
  </body>
</html>
