---
import ThemeIcon from "./ThemeIcon.astro";
---

<div class="fixed top-10 sm:top-12 left-0 px-3 sm:px-7 flex flex-col gap-4 items-center">
  <span class="h-12 w-[2px] dark:bg-zinc-700 bg-zinc-500"></span>
  <ThemeIcon />
  <span class="h-12 w-[2px] dark:bg-zinc-700 bg-zinc-500"></span>
</div>
