---
import Icon from "../../components/Icon.astro";
---

<ul class="flex flex-col gap-4 fixed bottom-6 right-0 px-7 items-center">
  <li class="h-12 w-[2px] bg-zinc-700"></li>
  <a href="https://github.com/rvkaki" target="_blank">
    <li>
      <Icon
        icon="github"
        class="dark:stroke-zinc-400 stroke-zinc-500 dark:hover:stroke-amber-400 hover:stroke-amber-700 hover:scale-110 transition-transform"
      />
    </li>
  </a>
  <a href="https://www.linkedin.com/in/rjvmcv/" target="_blank">
    <li>
      <Icon
        icon="linkedin"
        class="dark:stroke-zinc-400 stroke-zinc-500 dark:hover:stroke-amber-400 hover:stroke-amber-700 hover:scale-110 transition-transform"
      />
    </li>
  </a>
  <a href="mailto:me@rjvieira.com">
    <li>
      <Icon
        icon="mail"
        class="dark:stroke-zinc-400 stroke-zinc-500 dark:hover:stroke-amber-400 hover:stroke-amber-700 hover:scale-110 transition-transform"
      />
    </li>
  </a>
  <li class="h-12 w-[2px] bg-zinc-700"></li>
</ul>
